* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(230, 189, 115);
  text-align: center;
}
.form .search-box {
  width: 50%;
  margin: 12px;
  padding: 18px;
  font-family: monospace;
}
.form button {
  margin: 0 12px;
  padding: 8px;
}
.container {
  margin: 12px;
}
